body {
    padding: 0 2rem;
}

.alive {
    background-color: #b3ff66;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 42px;
    height: 42px;
}

td::before {
    display: inline-block;
    font-size: 3rem;
    margin-left: 7px;
    color: #f1c40f;
}

td.alive::before {
}

footer {
    position: fixed;
    bottom: 10px;
    left: 0px;
    display: inline-block;
    color: lightgey;
}

#grid {
    margin-left: 20%;
}